@model InternshipAssignment.Models.CvModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CvModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YourName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YourEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YourEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YourPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YourPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareerObjective)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareerObjective)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicQualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicQualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillTitleOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillTitleOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillContentOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillContentOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillTitleTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillTitleTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillContentTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillContentTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillTitleThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillTitleThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillContentThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillContentThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillTitleFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillTitleFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillContentFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillContentFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillTitleFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillTitleFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSkillContentFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalSkillContentFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNameOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNameOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContentOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContentOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNameTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNameTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContentTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContentTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNameThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNameThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContentThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContentThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNameFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNameFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContentFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContentFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNameFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNameFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectContentFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectContentFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularFour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularFour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldOfInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldOfInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageThree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageThree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIDNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIDNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherNameOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeacherNameOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherNameTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeacherNameTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenderModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderModel.GenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.MaritalStatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion.ReligionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CvId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
